body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
  }
  
  .slider-container {
    position: relative;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    width: 100vw;
    height: 100vh;
  }
  
  .navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
  }
  
  .arrow {
    font-size: 2em;
    color: white;
    text-decoration: none;
  }
  
  .dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
  }
  
  /* Additional styles for active dots */
  .dot.active {
    background-color: #333;
  }
  