

.c1{
font-weight: 700;
font-size: 17px;

}

.c2{
    color: rgb(14, 81, 81);
    font-size: 17px;
}
.personal-details__top--right {
    flex-basis: 50%; 
   margin-left: 300px;


}
.c3{
    padding:15px
}
.personal-details__top {
    display: flex;
    justify-content: space-between;
    padding:10px
}
.container{
    padding-top: 200px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Thiết lập kích thước cho ô */
 /* .box {
    display:flex;
    width: 200px;
    height: 120px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
} */

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8    {
    display:flex;
    width: 200px;
    height: 120px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.box6,
.box7,
.box8 
