.header {
    background-image: url(e.jpg);   
    background-size: cover;
    color: white;
   padding: 200px;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9e60fc;
}

li {
    float: left;
   margin-right: 20px;

   
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li span {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 500px;
    font-size: 30px;
}

li a:hover {
    color: white;
    background-color: #db7093;
    font-weight: bold;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.personal-details__bottom--android {
    grid-area: item1;
    text-align: center;
    background-color: rgb(145, 145, 208)
    
}
.personal-details__bottom--Angular {
    grid-area: item2;
}
.personal-details__bottom--Bootstrap{
    grid-area: item3;
    text-align: center;
    background-color: pink;
}
.personal-details__bottom--Vue {
    grid-area: item4;
    text-align: center;
    background-color: pink;
}
.personal-details__bottom--React {
    grid-area: item5;
}
.personal-details__bottom--Mongodb {
    grid-area: item6;
    text-align: center;
    background-color: rgb(145, 145, 208)
}
.personal-details__bottom--Lavarel {
    grid-area: item7;
}
.personal-details__bottom--Mongodb {
    grid-area: item8;
    
    background-color: rgb(145, 145, 208)
}
.grid-container {
    display: grid;
    grid-template-areas: 
        'item1 item2 item3 item 4 item5'
        'item6 item7 item8'
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item1,
.item3,
.item4,
.item6,
.item8{ padding-top: 50px;
    
}

@media screen and (min-width: 375px) and (max-width:1068px) {
    .grid-container{
        grid-template-areas: 
        'item1 item1 item1 item1'
        'item2 item2 item2 item2'
        'item3 item3 item3 item3'
        'item4 item4 item4 item4'
        'item5 item5 item5 item5'
        'item6 item6 item6 item6'
        'item7 item7 item7 item7'
        'item8 item8 item8 item8'
        'item9 item9 item9 item9';
    }
}
 

    


